@model LibraryViewModel

@{ ViewData["Title"] = Model.LibraryName; }


<div class="mt-5 mx-5">
    <div class="row row-cols-md-8">
        @foreach (var videoPreview in Model.VideoPreviews)
        {
            <div class="col">
                <div class="card bg-transparent border-0">
                    @if (videoPreview.Type == "movie")
                    {
                        <div class="card-body my-auto">
                            <a asp-controller="Media" asp-action="Movie" asp-route-id="@videoPreview.Id">
                                <img src="@videoPreview.PathPoster" class="card-img-top" alt="影视海报" asp-append-version="true">
                                <h5 class="card-title text-center">@videoPreview.Title</h5>
                            </a>
                        </div>
                    }
                    else if (videoPreview.Type == "tv")
                    {
                        <a asp-controller="Media" asp-action="Tv" asp-route-id="@videoPreview.Id">
                            <img src="@videoPreview.PathPoster" class="card-img-top" alt="影视海报" asp-append-version="true">
                            <div class="card-body">
                                <h5 class="card-title text-center">@videoPreview.Title</h5>
                            </div>
                        </a>
                    }
                </div>
                
            </div>
        }
    </div>
</div>