@page "/Web/Settings/Library"
@using Swellow.Blazor.Components.Common;
@using Microsoft.AspNetCore.Components;

<div class="text-center">

    <button type="button" class="btn btn-primary" @onclick="ToShowModal">
        新建媒体库
    </button>

     Modal 
    @if (isShowModal)
    {
        <div class="modal fade show" tabindex="-1" style="display: block;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    头部
                    <div class="modal-header">
                        <h5 class="modal-title">新媒体库</h5>
                    </div>

                    身体
                    <ValidateForm class="form-inline" Model="@NewLibrary" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit">
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-12">
                                    <BootstrapInput @bind-Value="@NewLibrary.Name" />
                                </div>
                                @*<div class="form-group col-12">
                                    <Select Items="@Items" @bind-Value="@NewLibrary.Type" />
                                </div>*@
                                <div class="form-group col-12">
                                    <InputUpload @bind-Value="@Picture" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer ml-auto">
                            <button @onclick="@ToCloseModal" class="btn btn-secondary">取消</button>
                            <button type="submit" class="btn btn-primary mr-2">创建</button>
                        </div>
                    </ValidateForm>

                </div>

            </div>
        </div>
    }


    <a class="btn btn-success">扫描媒体库</a>

</div>


<div class="row row-cols-md-6 mt-md-4">
    @foreach (var lp in LibraryPreviews)
    {
        <div class="col">
            <PosterCard Href=@($"Web/Media/Library/{lp.Id}")
                        Title=@lp.Name
                        ImgSrc=@lp.Fanart />
        </div>
    }
</div>
