@page "/Settings/Library"
@using Swellow.Blazor.Components.Common;
@using Swellow.Model.Enum;
@using System.Collections.Generic;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Components;
@using Swellow.Blazor.Services;
@using Swellow.Model.ViewModel.Media;
@using Swellow.Model.ViewModel.Settings;

<div class="text-center">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#LibraryModal">
        新建媒体库
    </button>

    <!-- Modal -->
    @if (isShowModal)
    {
        <div class="modal fade" id="LibraryModal" tabindex="-1" aria-labelledby="LibraryModalLabel">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    @*头部*@
                    <div class="modal-header">
                        <h5 class="modal-title" id="LibraryModalLabel">新媒体库</h5>
                    </div>

                    @*身体*@
                    <div class="modal-body">
                        <ValidateForm class="form-inline" Model="@NewLibrary" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit">
                            <div class="row">
                                <div class="form-group col-12">
                                    <BootstrapInput @bind-Value="@NewLibrary.Name" />
                                </div>
                                <div class="form-group col-12">
                                    <Select Items="@Items" @bind-Value="@NewLibrary.Type" />
                                </div>
                                <div class="form-group col-12">
                                    <InputUpload @bind-Value="@Picture" />
                                </div>
                                <div class="form-group col-12">
                                    <Button ButtonType="@ButtonType.Submit" Text="创建" />
                                </div>
                            </div>
                        </ValidateForm>
                    </div>

                </div>
            </div>
        </div>
    }


    <a class="btn btn-success">扫描媒体库</a>

</div>


<div class="row row-cols-md-6 mt-md-4">
    @foreach (var lp in LibraryPreviews)
    {
        <div class="col">
            <PosterCard Href=@($"Media/Library/{lp.Id}")
                        Title=@lp.Name
                        ImgSrc=@lp.PathImage />
        </div>
    }
</div>

@code
{

    [Inject] public IServer Server { get; set; }


    //1 所有Library预览【后传】
    private IEnumerable<LibraryPreview> LibraryPreviews { get; set; } = new List<LibraryPreview>();

    private readonly IEnumerable<SelectedItem> Items = new SelectedItem[]
        {
            //new SelectedItem ("", "请选择..."),
            new SelectedItem ("Movie", "电影"),
            new SelectedItem ("Tv", "电视剧"),
        };

    public LibraryCreateEdit NewLibrary { get; set; }

    public string DataDismiss { get; set; } = "";


    public IBrowserFile Picture { get; set; }

    public bool isShowModal { get; set; } = false;

    //【OnInitialized】
    protected override async Task OnInitializedAsync()
    {
        NewLibrary = new LibraryCreateEdit
        {
            Name = "",
            Type = LibraryType.Movie,
        };
        LibraryPreviews = await Server.GetLibraryPreviewsAsync();
        await base.OnInitializedAsync();
    }

    private Task OnValidSubmit(EditContext context)
    {
        //Trace2.Log("OnValidSubmit 回调委托");
        return Task.CompletedTask;
    }

    private Task OnInvalidSubmit(EditContext context)
    {
        //Trace2.Log("OnInvalidSubmit 回调委托");
        return Task.CompletedTask;
    }
}