@page "/Web/Media/Library/{LibraryId:int}/Work/{WorkId:int}/Movie/{MovieId:int}"
@using Swellow.Blazor.Components.Media
@using Swellow.Blazor.Components.Common
@using Swellow.Shared.Dto.Metadata.Media;

<div class="row">

    @*海报*@
    <div class="col-md-4 text-center">
        <img class="w-75" src="@MovieDetail.Poster" />
    </div>

    @*详细信息*@
    <div class="col-md-7">

        @*标题、评分、播放组件*@
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h1 class="display-3">@MovieDetail.Name</h1>
                </div>
                <div>
                    <span class="h3">@MovieDetail.Year</span>
                    <img class="mb-md-2" src="/images/video/star.svg" />
                    <span class="h3">@MovieDetail.Score</span>
                </div>
            </div>

            <div class="col-md-6">
                <PlayerButtons Fanart="@MovieDetail.Poster" />
            </div>
        </div>

        <div class="h5 mt-md-2">
            <p>@MovieDetail.Outline</p>
        </div>

        <div class="h5 mt-md-2">
            链接：
            <a href="https://movie.douban.com/subject/@MovieDetail.DoubanId" class="ml-md-1">豆瓣</a>
            <a href="https://www.themoviedb.org/movie/@MovieDetail.TmdbId" class="ml-md-1">TMDB</a>
            <a href="https://www.imdb.com/title/@MovieDetail.ImdbId" class="ml-md-1">IMDB</a>
        </div>


    </div>
</div>
