@page "/Web/Media/Library/{LibraryId:int}/Work/{WorkId:int}"
@using Swellow.Blazor.Components.Media
@using Swellow.Blazor.Components.Common
@using Swellow.Shared.Dto.Metadata.Media;

<div class="row">

    @*海报*@
    <div class="col-md-4 text-center">
        <img class="w-75" src="@WorkDetail.Poster" />
    </div>

    @*详细信息*@
    <div class="col-md-7">

        @*标题、评分、播放组件*@
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h1 class="display-3">@WorkDetail.Name</h1>
                </div>
                <div>
                    <span class="h3">@((WorkDetail.EndYear is null)? WorkDetail.Year : $"{WorkDetail.Year}-{((WorkDetail.EndYear==0)?"至今":WorkDetail.EndYear)}")</span>
                    <img class="mb-md-2" src="/images/video/star.svg" />
                    <span class="h3">@WorkDetail.Score</span>
                </div>
            </div>

            <div class="col-md-6">
                <PlayerButtons Fanart="@WorkDetail.Fanart" />
            </div>
        </div>


        <div class="h4 mt-md-2">
            @foreach (var genre in Genres)
            {
                <a href="Media/Property/@genre.Name" class="ml-md-1">@genre.Name</a>
            }
        </div>

        <div class="h5 mt-md-2">
            <p>@WorkDetail.Outline</p>
        </div>

        <div class="h5 mt-md-2">
            链接：
            <a href="https://movie.douban.com/subject/@WorkDetail.DoubanId" class="ml-md-1">豆瓣</a>
            <a href="https://www.themoviedb.org/movie/@WorkDetail.TmdbId" class="ml-md-1">TMDB</a>
            <a href="https://www.imdb.com/title/@WorkDetail.ImdbId" class="ml-md-1">IMDB</a>
        </div>
        
        @if (WorkDetail.Type != Swellow.Shared.Enum.WorkType.SingleMovie)
        {
            <div class="h3 mt-md-5">剧季剧场</div>
            <div class="row">
                @foreach (var season in Seasons)
                {
                    <div class="col-md-2">
                        <PosterCard Href=@($"Web/Media/Library/{LibraryId}/Work/{WorkId}/Season/{season.Id}") Title=@($"第{season.No}季") ImgSrc=@season.Poster />
                    </div>
                }
                @foreach (var movie in Movies)
                {
                    <div class="col-md-2">
                        <PosterCard Href=@($"Web/Media/Library/{LibraryId}/Work/{WorkId}/Movie/{movie.Id}") Title=@($"M{movie.No}: {movie.Name}") ImgSrc=@movie.Poster />
                    </div>
                }
            </div>
        }

        <div class="h3 mt-md-5">演职人员</div>
        <div class="row">
            @foreach (var cast in Casts)
            {
                <div class="col-md-2">
                    <PosterCard Href=@($"Web/Media/Cast/{cast.Id}") Title=@cast.Name ImgSrc=@cast.Poster />
                </div>
            }
        </div>

    </div>
</div>
