<div class="row mt-5 mx-5">

    @*海报*@
    <div class="col-md-4 col-12 text-center">
        <img class="poster-overspread" src="@MovieDetail.PathPoster" />
    </div>

    @*详细信息*@
    <div class="col-md-7 col-12">
        <div class="row">

            @*标题、评分*@
            <div class="col-md-6 col-12">
                <div>
                    <h1 class="display-3">@MovieDetail.Title</h1>
                </div>
                <span style="font-size:2em">@MovieDetail.Year</span>
                <img class="ml-2" src="/images/video/star.svg" />
                <span style="font-size:2em">@((float)MovieDetail.Score / 10)</span>
            </div>

            @*播放组件*@
            <div class="col-md-6 col-12">
                <div class="row">

                    <a href="Player/VideoPlayer/@MovieDetail.PathFanart" class="col-md-2 col-2">
                        <img src="/images/video/play.svg" />
                        <p>播放</p>
                    </a>

                    <a href="Player/VideoPlayer/@MovieDetail.PathFanart" class="col-md-2 col-2">
                        <img src="/images/video/randomPlay.svg" />
                        <p>随机播放</p>
                    </a>

                    <a href="Player/VideoPlayer/@MovieDetail.PathFanart" class="col-md-2 col-2">
                        <img src="/images/video/trailer.svg" />
                        <p>预告片</p>
                    </a>

                    <a class="col-md-2 col-2">
                        <img src="/images/video/rating.svg" />
                        <p>评分</p>
                    </a>

                    <a class="col-md-2 col-2">
                        <img src="/images/video/delete.svg" />
                        <p>删除</p>
                    </a>
                </div>
            </div>

        </div>


        <div class="mt-md-2" style="font-size:1.5em">
            @foreach (var genre in MovieDetail.Genres)
            {
                <a href="Property/@genre.Name">@genre.Name</a>
            }
        </div>

        <div class="mt-md-2">
            <p>@MovieDetail.Plot</p>
        </div>

        <div class="mt-md-2" style="font-size:1.2em">
            链接：
            <a href="https://movie.douban.com/subject/@MovieDetail.IdDouban">豆瓣</a>
            ，
            <a href="https://www.themoviedb.org/movie/@MovieDetail.IdTmdb">TMDB</a>
            ，
            <a href="https://www.imdb.com/title/@MovieDetail.IdImdb">IMDB</a>
        </div>


        <h3 class="mt-md-5">导演</h3>

        <div class="row">
            @foreach (var cast in MovieDetail.Directors)
            {
                <div class="col-md-2 col-6 card bg-transparent border-0">
                    <a href="Cast/@cast.Id">
                        <img src="@cast.PathHeadPicture" class="card-img-top" alt="演员海报">
                        <h5 class="card-title text-center mt-md-1">@cast.Name</h5>
                    </a>
                </div>
            }
        </div>

        <h3 class="mt-md-5">演员表</h3>

        <div class="row">
            @foreach (var cast in MovieDetail.Actors)
            {
                <div class="col-md-2 col-6 card bg-transparent border-0">
                    <a href="Cast/@cast.Id">
                        <img src="@cast.PathHeadPicture" class="card-img-top" alt="演员海报">
                        <h5 class="card-title text-center mt-md-1">@cast.Name</h5>
                    </a>
                </div>
            }
        </div>

    </div>
</div>
